<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Color</key>
		<string>Red</string>
		<key>Minutes</key>
		<integer>30</integer>
		<key>Image</key>
		<string>task_1</string>
	</dict>
	<dict>
		<key>Color</key>
		<string>Yellow</string>
		<key>Minutes</key>
		<integer>15</integer>
		<key>Image</key>
		<string>task_2</string>
	</dict>
	<dict>
		<key>Color</key>
		<string>Red</string>
		<key>Minutes</key>
		<integer>45</integer>
		<key>Image</key>
		<string>task_3</string>
	</dict>
	<dict>
		<key>Color</key>
		<string>Red</string>
		<key>Minutes</key>
		<integer>30</integer>
		<key>Image</key>
		<string>task_4</string>
	</dict>
	<dict>
		<key>Color</key>
		<string>Blue</string>
		<key>Minutes</key>
		<integer>15</integer>
		<key>Image</key>
		<string>task_5</string>
	</dict>
	<dict>
		<key>Color</key>
		<string>Blue</string>
		<key>Minutes</key>
		<integer>60</integer>
		<key>Image</key>
		<string>task_6</string>
	</dict>
	<dict>
		<key>Color</key>
		<string>Red</string>
		<key>Minutes</key>
		<integer>30</integer>
		<key>Image</key>
		<string>task_7</string>
	</dict>
	<dict>
		<key>Color</key>
		<string>Green</string>
		<key>Minutes</key>
		<integer>120</integer>
		<key>Image</key>
		<string>task_8</string>
	</dict>
	<dict>
		<key>Color</key>
		<string>Green</string>
		<key>Minutes</key>
		<integer>180</integer>
		<key>Image</key>
		<string>task_9</string>
	</dict>
</array>
</plist>
